*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Inter,sans-serif;

}

body{

background:#161616;

height:100vh;

display:flex;

flex-direction:column;

overflow:hidden;

color:white;

}





/* TOP BAR */

header{

height:70px;

background:#1f1f1f;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid #2f2f2f;

}

.logo h2{

font-size:23px;

font-weight:600;

letter-spacing:.5px;

}

.top-buttons{

display:flex;

gap:15px;

}

.top-buttons button{

padding:10px 20px;

border:none;

border-radius:10px;

background:#2d2d2d;

color:white;

cursor:pointer;

transition:.25s;

}

.top-buttons button:hover{

background:#3b3b3b;

}

.gold{

background:#b99345 !important;

color:white;

}





/* MAIN */

.container{

flex:1;

display:grid;

grid-template-columns:260px 1fr 300px;

overflow:hidden;

}





/* LEFT */

.sidebar{

background:#1d1d1d;

padding:25px;

border-right:1px solid #2b2b2b;

display:flex;

flex-direction:column;

gap:12px;

}

.sidebar h3{

margin-bottom:10px;

font-size:22px;

}

.sidebar button{

padding:14px;

border:none;

border-radius:12px;

background:#2a2a2a;

color:white;

text-align:left;

cursor:pointer;

transition:.25s;

font-size:15px;

}

.sidebar button:hover{

background:#b99345;

}





/* CENTER */

.viewport{

background:#202020;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

.grid{

width:94%;

height:92%;

border-radius:20px;

border:2px dashed #505050;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:

linear-gradient(#2b2b2b 1px, transparent 1px),

linear-gradient(90deg,#2b2b2b 1px,transparent 1px);

background-size:35px 35px;

}

.grid h1{

font-size:42px;

margin-bottom:10px;

}





/* RIGHT */

.properties{

background:#1d1d1d;

padding:25px;

display:flex;

flex-direction:column;

gap:12px;

border-left:1px solid #2b2b2b;

}

.properties h3{

font-size:22px;

margin-bottom:10px;

}

.properties select,

.properties input{

width:100%;

padding:10px;

border:none;

border-radius:10px;

background:#2a2a2a;

color:white;

}

.delete{

margin-top:auto;

padding:15px;

background:#b13f3f;

color:white;

border:none;

border-radius:12px;

cursor:pointer;

}





/* BOTTOM BAR */

footer{

height:85px;

background:#1f1f1f;

display:flex;

justify-content:center;

align-items:center;

gap:18px;

border-top:1px solid #2b2b2b;

}

footer button{

padding:15px 22px;

border:none;

border-radius:12px;

background:#2d2d2d;

color:white;

cursor:pointer;

transition:.25s;

}

footer button:hover{

background:#b99345;

}
