*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#111;
color:white;

}


header{

padding:30px;
text-align:center;

}


header h1{

font-size:40px;
letter-spacing:5px;

}


.toolbar{

position:absolute;
top:130px;
left:30px;
z-index:10;

display:flex;
flex-direction:column;
gap:15px;

}


button{

padding:15px 25px;

border:none;

background:#c89b5b;

color:white;

cursor:pointer;

border-radius:8px;

font-size:16px;

}



button:hover{

background:#e0b878;

}



#scene{

width:100%;
height:600px;

}



.info{

background:#f4efe6;
color:#222;

padding:50px;

text-align:center;

}


.cards{

display:flex;
justify-content:center;

gap:30px;

margin-top:30px;

}



.cards div{

background:white;

padding:25px;

border-radius:15px;

width:250px;

box-shadow:0 10px 30px #0003;

}
